<div class="main-container">
	<div class="first-view">
		<div class="form-area">
			<p>Potepan Shareでまだ体験したことのない旅をしよう</p>
			<p>エリア</p>
			<input>
			<input type="submit">
		</div>
	</div>
</div>

<div class="second-container">
  <div class="topic-title">
	  <h1>おすすめのエリア</h1>
	</div>
	<div class='topic-image'>
    <ul class="pictures">
      <li class="list"><%= image_tag "tokyo.jpg" %></li>
      <li class="list"> <%= image_tag "osaka.jpg" %></li>
      <li class="list"><%= image_tag "kyoto.jpg" %></li>
      <li class="list"> <%= image_tag "sapporo.jpg" %></li>
    </ul>
	</div>
</div>